@charset "UTF-8";
/* CSS Document */

body {
	margin:0;
	padding:0;	
}
html {
	text-rendering: optimizelegibility;
	font-size: 62.5%;
	font-family:Arial, Helvetica, sans-serif;
}
ul, ol, dl, li, dt, dd {
    list-style: none outside none;
	padding:0;
	margin:0;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;	
}
span.h1 {
    font-weight:bold;
    font-size:14px;
}
a, 
a:link, 
a:visited,
a:hover, 
a:active {
	text-decoration:none;
	border:none;
}
a, 
a:link, 
a:visited {
	color:#AA0000;	
}
a:hover, 
a:active {
	color:#AA0000;	
	text-decoration:underline;
}
img, a img {
	border:0;
}
hr {
	background-color:none;
	border:none;
	width:100%;
	clear:both;	
}
h2, h6 {
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	margin-bottom: 15px;
	line-height: 36px;
	border-top: 1px dotted;
	border-bottom: 1px dotted;
	overflow: hidden;
	text-overflow: ellipsis;
}
h3 {
	margin:10px 0;
	padding:12px 0;
	padding-left:10px;
	color:#fff;
	background:#999;
	font-size:14px;	
}
article.right.product h3 {
	font-size:24px;	
	color:#990000;
	padding:0;
	background:none;
	text-decoration:underline;
	
}
h4 {
	color:#1b2491;
	text-align:center;
	margin:20px 0;
	padding:15px 60px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-size:13px;
	letter-spacing:1px;
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
}
input {
	 -webkit-appearance: none;
    border-radius: 0;
}
.clearfix {
	height:1px; 
	width:100%;
	clear:both;
}
span.light_gray {
	color:#777777;
	letter-spacing:0.5px;
	padding-left:10px;
}
.container {
	position:relative;
	width:960px;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}
.container.mobile,
.tablet .container {
	width:100%;
	padding:0;
	margin:0;
	width:100%;	
}
.clearfix {
	width:100%;
	clear:both;
}
.displace {
	margin-left:-10000px;
	height:0px;
}
.red {
	color:#1b2491;
}
.bold {
	font-weight:bold;	
}
header {
	background:#fff;
	border-color:#1b2491;
	height:110px;
	width:100%;
	transition: all 0.2s ease 0s;
	-webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
	position:fixed;
	top:0;	
	z-index:999;
}
.standard header {
	margin-bottom:30px;
}
.mobile header,
.tablet header {
	height:55px;
}
header .container {
	height:100%;
}
header nav, header #headerlinks {
    margin: 0px auto;
}
#headerlinks {
	height:60px;
	line-height:60px;
	with:100%;
	padding-top:11px;
	padding-bottom:7px;	
}
#headerlinks.mobile,
#headerlinks.tablet {
	padding-top:3px;
	line-height:40px;	
}
nav {
}
.row {	
}
#logo {
	font-size: 38px;
	line-height: 1em;
	transition: all 0.2s ease 0s;
	width:194px;
	height:63px;
	float:left;	
	padding-left:7px;
}
#social {
	float:right;
	height:30px;
	width:200px;
	margin-right:7px;
}
.mobile #social, .tablet #social {
    margin-top: 8px;
    width: 100px;
    margin-right: 62px;
}
#search {
	float:right;
	height:30px;
	width:200px;
	position:relative;
	margin-right:7px;
	margin-top:33px;
}
#search input {
	border:1px solid #B0B0B0;
	outline:none;
	height:20px;
	width:170px;
	padding-left:5px;
	position:absolute;
	top:0px;
	left:0px;
	color:#BBBBBB;
	font-style:italic;	
}
button.search {
	border:none;
	margin:0;
	padding:0;
	outline:none;
	height:24px;
	width:25px;
	color:#fff;
	background:#0130A0;	
	line-height:24px;
	text-align:center;
	position:absolute;
	top:0px;
	right:0px;
}
button.search:hover {
	background:#000;	
}
nav li {
    display: inline;
    float: left;
    min-width: 142px;
    margin: 0px 7px;
    font-size: 1.3em;
    line-height: 30px;
    font-family: Arial,sans-serif;
    font-weight: 700;
    //background-color:#ccc;
	background:#6D98AB;
}
.tablet nav li,
.mobile nav li {
	margin:0;	
}
nav li a,
nav li a:link,
nav li a:visited {
    display: block;
    padding-left: 10px;
	//background-color:#000;
    color: #fff;
    text-decoration: none;
}
nav li#product_link {
	display:none;	
}
.mobile nav li a,
.mobile nav li a:link,
.mobile nav li a:visited,
.tablet nav li a,
.tablet nav li a:link,
.tablet nav li a:visited {
	background-color:#000;
	padding-left:0;
	width:100%;
}
.mobile nav li#product_link,
.tablet nav li#product_link {
	display:block;	
}
nav li a:hover, nav li a.active {
    background-color: #BBBBBB;
}
.mobile nav ul li a:hover, 
.tablet nav ul li a:hover {
	background:#777777;
}	
.mobile nav ul li a.arrow:hover, 
.tablet nav ul li a.arrow:hover,
.mobile nav ul li p.arrow:hover, 
.tablet nav ul li p.arrow:hover{
	background:#777777 url("../images/nav_arrow.png") no-repeat scroll 95% 50%;
}	
nav li a.arrow, nav li p.arrow {
    background: url("../images/nav_arrow.png") no-repeat scroll 90% 50%;
}
nav li a.arrow.active, nav li p.arrow.active {
    background: url("../images/nav_arrow.png") no-repeat scroll 90% 50% #999;
}
.standard nav ul li ul.submenu li a.arrow, .standard nav ul li ul.submenu li p.arrow  {
	 background: url("../images/left_arrow.png") no-repeat scroll 90% 50%;
}
.standard > header > .container > .row > nav > ul > li.expand > ul.submenu > li > a.arrow, .standard > header > .container > .row > nav > ul > li.expand > ul.submenu > li > p.arrow {
	
}
nav li a.arrow:hover + ul.submenu, nav li ul.submenu:hover, nav li p.arrow:hover + ul.submenu, nav li ul.submenu:hover{
    max-height: 480px;
} 
nav li ul.submenu li {
    margin: 0px;
    font-size: 0.9em;
	background: #6e6e6e;
	position:relative;
}
nav > ul > li.expand > ul.submenu > li > ul {
	display:none;	
}
nav > ul > li.expand > ul.submenu > li > ul > li {
	background: #babaa6;
}
nav > ul > li.expand > ul.submenu > li > ul > li:hover,
nav > ul > li.expand > ul.submenu > li > ul > li:hover > a
 {
	background: #b0b0b0;
}
.standard > header > .container > .row > nav > ul > li.expand > ul.submenu > li:hover > ul {
	display:block;
	position:absolute;
	top:0px;
	left:142px;
}
.standard > header > .container > .row > nav > ul > li.expand > ul.submenu > li:hover > ul.bottom {
	top:-100%;
}
.mobile nav li ul.submenu li,
.tablet nav li ul.submenu li {
	height:0;
	overflow:hidden;	
}

#logo.mobile,
#logo.tablet {
	width:138px;
	height:54px;
	position:absolute;
	top:7px;
}
#logo.mobile {
   left:55px;
}
#logo.tablet {
    left:50%;
    margin-left:-73px;
}
.mobile nav,
.tablet nav {
	width: 100%;
	background: none repeat scroll 0% 0%;
	padding-bottom: 20px;
	position: fixed;
	top: 0px;
	right:0;
}
#contact_elements {
    position: absolute;
    top: 20px;
    right: 20px;
	
}
.mobile #contact_elements,
.tablet #contact_elements {
	top:0px;
	right:0px;	
}
.standard nav #mobile_menu_trigger {
	display:none;
}
.standard > header > .container > .row > #contact_elements > #menu_phone > a.phone_link,
.standard > header > .container > .row > #contact_elements > #menu_email > a.phone_link,
.mobile > header > .container > .row > #contact_elements > #menu_phone > a.browser_link,
.mobile > header > .container > .row > #contact_elements > #menu_email > a.browser_link,
.tablet > header > .container > .row > #contact_elements > #menu_phone > a.phone_link,
.tablet > header > .container > .row > #contact_elements > #menu_email > a.browser_link {
	display:none;
}

.tablet #mobile_menu_trigger, 
.mobile #mobile_menu_trigger, 
.mobile #menu_phone a.phone_link,
.tablet #menu_email a.phone_link, 
.mobile #menu_email a.phone_link {
	display:block;
}
#menu_phone, 
#menu_email {
	display:inline-block; 
}
#menu_phone a.browser_link, 
#menu_email a.browser_link,
#menu_phone a.browser_link:link, 
#menu_email a.browser_link:link,
#menu_phone a.browser_link:visited, 
#menu_email a.browser_link:visited {
	color:#999999;
	text-decoration:none;
	font-size:14px;
	
}
#menu_phone a.browser_link:hover, 
#menu_email a.browser_link:hover {
	color:#AA0000;
	text-decoration:none;
}
.standard #menu_email {
	padding-left:15px;
}
.tablet #menu_email {
    display: inline;
    float: right;
    padding-top: 8px;
}	
#mobile_menu_trigger,
.mobile #menu_phone,
.mobile #menu_email,
.tablet #menu_phone,
.tablet #menu_email {
	color:#999;
	display:inline-block;
	height:55px;
	line-height:55px;
	text-align:center;
	text-decoration:none;
}
#mobile_menu_trigger,
.mobile #menu_phone,
.mobile #menu_email { 
	position:absolute;
	top:2px;
}
#mobile_menu_trigger {
	left:10px;
}
.mobile #menu_phone {
	right:5px;
	top:5px;
}
.mobile #menu_email {
	right:41px;	
	top:5px;
}
.tablet > header > .container > .row > #contact_elements > #menu_phone > a.browser_link {
	padding:0px 15px;	
}
.tablet #menu_email a.phone_link {
	padding-right:20px;	
}


.mobile > header > .container > .row > nav > ul,
.tablet > header > .container > .row > nav > ul {
	display:none;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
	transition: all 0.2s ease 0s;
	-webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
	background:#000;
	position:absolute;
	top:56px;
}
.standard nav li ul.submenu {
    position: absolute;
    width: 142px;
    z-index: 10;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s linear 0s;
}
.standard nav li ul.submenu:hover {
	overflow:visible;	
}
.mobile nav ul li ul.submenu,
.tablet nav ul li ul.submenu {
	transition: max-height 0.2s linear 0s;	
}
.mobile nav ul li,
.tablet nav ul li {
	display: block;
    width: 100%;
    line-height: 35px;
    font-family: Arial,sans-serif;
    font-weight: 700;
}
footer > .container > ul > li.search > #mobile {
	display:none;
}
.tablet footer li.search {
	display:block;
}
.mobile nav ul li ul li,
.tablet nav ul li ul li {
	text-transform:capitalize;	
}
#mobile_search {
	height:30px;
	width:200px;
	position:relative;
	margin:0 auto;
}
#mobile_search input {
	border:1px solid #dddddd;
	outline:none;
	height:20px;
	width:170px;
	padding-left:0 0 0 5px;
	position:absolute;
	top:0px;
	left:0px;
	color:#999;
	font-style:italic;
	 -webkit-appearance: none;
    border-radius: 0;
	line-height:20px;
}
#mobile_search button.search {
	border:none;
	margin:0;
	padding:0;
	outline:none;
	height:26px;
	width:25px;
	color:#fff;
	background-color:#990000;
	line-height:26px;
	text-align:center;
	position:absolute;
	top:0px;
	right:0px;
}
#mobile_search button.search:hover {
	background-color:#660000;
}
.mobile nav ul li a, 
.tablet nav ul li a{
	display: block;
    color: #fff;
    text-decoration: none;
	border-bottom:1px solid #ccc;
}
.mobile nav ul li a:link,
.mobile nav ul li a:visited,
.tablet nav ul li a:link,
.tablet nav ul li a:visited {
    color: #fff;
    text-decoration: none;
}
.mobile nav ul li:hover > a,
.tablet nav ul li:hover > a  {
	color:#fff;
	text-decoration:none;
}

.mobile nav li a.arrow,
.tablet nav li a.arrow {
	background: url("../images/nav_arrow.png") no-repeat scroll 95% 50% #000;
}
.mobile nav li ul.submenu li a.arrow,
.tablet nav li ul.submenu li a.arrow {
	background-image:none;
}
.standard section.main, section.main{
	overflow:hidden;
	width:950px;
	margin:0 auto;
	padding-top:140px;
	padding-bottom:30px;	
}
article.slider {
	width:950px;	
}
.mobile section.main,
.tablet section.main {
	width:95%;
	padding-top:57px;
	margin:0 auto;
}
.mobile article.slider,
.tablet article.slider {
	width:100%;
}
/***********************************
***************************************
		SLIDESHOW
****************************************
***************************************/
.standard #slides {
	width:626px;
	height:300px;
	margin:0px auto;
	z-index:1;
	position:relative;
}
.mobile #slides,
.tablet #slides {
	display:none;
}
.mobile #mobile_slides,
.tablet #mobile_slides {
	height:300px;
	width:100%;
}
a#prev {
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:10;
	display:block;
	width:50px;
	background:#000;
	padding:20px 0;
	box-sizing:border-box;
	text-align:center;
	opacity:0.65;
}
a#next {
	position:absolute;
	bottom:0px;
	right:0px;
	z-index:10;
	display:block;
	width:50px;
	background:#000;
	padding:20px 0;
	box-sizing:border-box;
	text-align:center;
	opacity:0.65;
}
#slides:hover > a#next, 
#slides:hover > a#prev {
	opacity:0.95;	
}
.slide {
	height:300px;
	width:626px;
	position:relative;
	overflow:visible;
}
.caption {
	position:absolute;
	top:40px;
	left:-100px;
	background:#ccc;
	color:#000;	
	width:auto;
	padding-right:10px;
	padding-left:10px;
	font-size:18px;
	font-family:Georgia, "Times New Roman", Times, serif;
	height:45px;
	line-height:45px;
	text-align:left;
}
.mobile .caption,
.tablet .caption {
	height:auto;
	line-height:normal;
	padding:15px 20px;
}
ul.slidesjs-pagination {
	display:none;
}
/**mobile slideshow****/
.mobile #mobile_slides,
.tablet #mobile_slides {
	width:100%;
	height:300px;
	overflow:hidden;
	position:relative;
	text-align:center;
}
.mobile .caption,
.tablet .caption {
	left:0px;
	top:50px;	
}
.mobile #mobile_slides img,
.tablet #mobile_slides img {
	margin:0 auto;
}
.mobile .slideshow_photo,
.tablet .slideshow_photo {
	display:none;	
}
.standard #mobile_slides {
	display:none;
}
/**********************************
	Three-Column Layout 
***********************************/
article.content {
	clear:both;
	padding-top:30px;
	font-size:14px;
}
.standard article .col3 {
	width:33.333%;
	float:left;
	min-width:200px;
}
h2.title {
	width: 90%;
	margin-right:auto;
	margin-left:auto;
	
}
.col2_left article.left h2 {
	margin-right:0;
	margin-left:0;
	width:100%;
}
col2_left article.left h2:hover,
h2.title:hover, h2:hover, h6:hover {
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
}
h2.title:hover > a, 
h2.title:hover > a:link, 
h2.title:hover > a:visited,
h2:hover > a, 
h2:hover > a:link, 
h2:hover > a:visited,
h6:hover > a, 
h6:hover > a:link, 
h6:hover > a:visited {
	color:#999;
	background:transparent url('../images/arrow_hover.jpg') no-repeat;
	background-position: 98% center;
}
article .col3 .subtext {
	width:90%;
	margin:0 auto;
	line-height:24px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:11px;	
}
.mobile article .col3 .subtext,
.tablet article .col3 .subtext {
	font-size:16px;	
}
a.more, 
a.more:link, 
a.more:visited {
	text-decoration:underline;	
}
a.more:hover, 
a.more:active {
	color:#000066;
	text-decoration:underline;	
}

h2 a,
h2 a:link, 
h2 a:visited,
h6 a,
h6 a:link, 
h6 a:visited {
	color:#000;
	text-decoration:none;
	display:block;
	background:transparent url('../images/arrow.jpg') no-repeat;
	background-position: 98% center;
}
/*****************************************
	Two col layout left larger 
*****************************************/
.col2_left article.left {
	width:540px;
	float:left;	
	padding-left:10px;
	padding-top:10px;
	font-size:12px;
	line-height:18px;
	letter-spacing:1px;
}
.col2_left article.right {
	width:305px;
	float:right;	
}
.col2_left article.right ul li {
	font-size:12px;
	letter-spacing:1px;
	line-height:18px;	
}
.col2_left article.right ul  {
	margin-bottom:25px;	
}
.mobile.col2_left article.left, 
.mobile.col2_left article.right {
	width:100%;
	padding-right:0;
	padding-left:0;
	clear:both;
	padding-top:30px;
	padding-bottom:10px;
	float:none;
}
.mobile.col2_left article.left p, 
.mobile.col2_left article.right p,
.tablet.col2_left article.left p, 
.tablet.col2_left article.right p {
	width:95%;
}
.mobile.col2_left article.right h3,
.tablet.col2_left article.right h3 {
	margin:15px 0;	
}


/**************************************
	FOOTER 
***************************************/
footer {
	overflow: hidden;
	background: none repeat scroll 0% 0% #5f5f5f;
	color: #fff;
	font-size: 1.1em;
	padding: 30px 0px;
	margin: 0;
	line-height:18px;
	float:none;
	clear:both;
}
.mobile footer ul li,
.tablet footer ul li {
	text-align:center;
}
footer a, 
footer a:link, 
footer a:visited {
	color:#ccc;
	text-decoration:none;	
}
footer a:hover, 
footer a:active {
	color:#fff;
	text-decoration:underline;	
}
.standard footer .container {
	width:920px;
}
.mobile footer .container ul,
.tablet footer .container ul {
	width:90%;
	margin:0 auto;	
}
.standard footer .container ul li {
	display:inline-block;
	width:179px;
	vertical-align:top;
}
.standard footer .container ul li.search {
	display:none;
}
.tablet .standard footer .container ul li.search, 
.mobile .standard footer .container ul li.search {
	display:block;	
}
.standard footer .container ul li.footer_logo a.heading {
	font-weight:bold;
	color:#ededed;
	text-transform:uppercase;
}
.mobile footer,
.tablet footer {
	font-size:16px;
	line-height:24px;	
}
.mobile footer .container ul li.footer_log,
.tablet footer .container ul li.footer_logo {
	display:none;
}
/************** mailing list ****************/
button.mailer {
	border:none;
	margin:0;
	padding:0;
	outline:none;
	height:24px;
	color:#fff;
	background:#1b2491;	
	line-height:24px;
	text-align:center;
	padding-right:20px;
	padding-left:20px;
}
button.mailer:hover {
	background:#000066;	
}
/*banners */
#banners img {
	width:950px;
	height:auto;
	margin-bottom:30px;
	margin-top:10px;
}
.mobile #banners,
.tablet #banners {
	display:none;
}
#banners {
	text-align:center;
	position:relative;
	height:300px;
	overflow:hidden;
}
#banners.about {
	height:350px;	
}
#slogan {
	position:absolute;
	left:00px;
	top:50px;
	max-width:450px;
}

#slogan p {
	font-family:Georgia, "Times New Roman", Times, serif;
	background:#ccc;
	color:#000;
	font-size:20px;
	margin:0;
	padding:15px 25px;
	line-height:28px;
	font-style:italic;
	display:table-cell;
	vertical-align:middle;
}
#banners.about #slogan {
	max-width:400px;
	top:60px;
}
#banners.about #slogan p {
	font-size:16px;
}
/**blog*/
#blog_container {
	border:1px solid #dddddd;
	width:948px;
	background:#dddddd;
}
.mobile #blog_container,
.tablet #blog_container {
	width:100%;	
	border:none;
}
.mobile section.main.blog,
.tablet section.main.blog {
	padding:0;
	padding-top:10px;
	width:100%;
}
#blog_header {
	height:200px;
	width:950px;
	background:url('../images/banners/banner2.jpg') center center no-repeat;	
}
.mobile #blog_header,
.tablet #blog_header {
	width:100%;
	overflow:hidden;
}
article.left.news p.featured {
	font-size:14px;
	color:#333;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
h2.blog {
	border:none;
	font-size:30px;
	color:#1b2491;
}
article.right.news {
	padding:20px;
	background:#dddddd;
	width:272px;
}
.mobile article.right.news,
.tablet article.right.news {
	width:100%;
	padding:20px;
	text-align:center;
}
article.left.news {
	width:594px;
	padding:20px;
	background:#fff;
	border-right:1px solid #ccc;
}
.mobile article.left.news,
.tablet article.left.news {
	width:100%;	
	padding:20px;
}
article.right.news h5, 
article.right.news h6,
article.left.news h6,
article.left.news h2 {
	border:none;
}
article.left.news h6,
article.left.news h2 {
	font-size:21px;
	font-weight:100;
	color:#1b2491;	
}
article.right.news h6 {
	color:#1b2491;	
	font-size:16px;
	text-transform:uppercase;
}
article.right.news h6.home {
	padding-left:25px;
	background:url('../images/home.jpg') left center no-repeat;	
}
article.right.news h6.home:hover {
	background:url('../images/home_hover.jpg') left center no-repeat;
}
article.left.news h6 {
	margin:0;
	padding:0;	
}
article.right.news h5 {
	font-size:16px;	
	text-transform:uppercase;
	margin:30px 0;
	color:#000066;
}

article.right.news h5 a, 
article.right.news h5 a:visited,
article.right.news h5 a:link,
article.right.news h6 a,
article.right.news h6 a:link,
article.right.news h6 a:visited,
article.left.news h6  a,
article.left.news h6 a:link, 
article.left.news h6 a:visited {
	color:#000066;
	background:none;
}
article.right.news h5 a:hover,
article.right.news h6 a:hover,
article.left.news h6 a:hover {
	color:#1b2491;
}
article.right.news a:postlink {
	transition: all 0.2s ease 0s;	
}
article.right.news a.postlink, 
article.right.news a.postlink:link, 
article.right.news a.postlink:visited {
	display:block;
	height:20px;
	line-height:20px;
	padding-top:0px;
	font-size:14px;
	color:#555555;
}
.mobile article.right.news h5,
.mobile article.right.news h6,
.tablet article.right.news h5,
.tablet article.right.news h6 {
	padding-left:0;
}
article.right.news a.postlink:hover, 
article.right.news a.postlink:active {
	color:#1b2491;
}
article.left.news p a.read_more {
	font-family:Arial, Helvetica, sans-serif;
	display: block;
	padding:10px 0;
	color:#1b2491;
}
article.left.news p a.read_more:link, 
article.left.news p a.read_more:visited {
	color:#1b2491;
}
article.left.news p a.read_more:hover, 
article.left.news p a.read_more:active {
	color:#000;
}
article.left.news p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:22px;
	color:#555555;
	letter-spacing:normal;
	margin:0;
	padding:0;
}
article.left.news h6.nolink a, 
article.left.news h6.nolink a:link, 
article.left.news h6.nolink a:visited {
	color:#1b2491;
}
article.left.news h6.nolink a:hover, 
article.left.news h6.nolink a:active {
	color:#000066;
}	
article.news.left p.blog_cat {
	color:#444444;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	letter-spacing:normal;
	font-weight:bold;
	margin:5px 0;
}
.blog_line {
	width:100%;
	height:1px;
	background:#dddddd;
	clear:both;
	margin:10px 0;
}
ul.arrows {
	height:20px;
	padding:20px 0;
}
ul.arrows li {
	float:left;
	height:20px;
}
ul.arrows li.firstli {
	padding-right:10px;
	border-right:1px solid #ccc;
}
ul.arrows li.lastli {
	padding-left:10px;
}
/*contact page*/
article.contact_top, div.contact_top {
	width:600px;
	margin:0 175px;
	position:relative;
	padding-top:75px;
	padding-bottom:0px;
	font-size:12px;

}
article.contact_top h2, div.contact_top h2  {
	border:None;
	padding:0;
	margin:0;
	font-size:14px;
	color:#000;	
	line-height:20px;
}
article.contact_top p{
	margin:0;
	padding:0;
	line-height:18px;
	letter-spacing:1px;
}
.contact_heading {
	position:absolute;
	top:0px;
	left:-175px;
	background:#ccc;
	line-height:30px;
	color:#000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	padding: 10px 40px 10px 10px;
}
.contact_heading a,
.contact_heading a:link,
.contact_heading a:visited{
    color:#000;
    text-decoration:underline;
}
.contact_heading a:hover {
    color:#555555;
    text-decoration:underline;
}
.mobile .contact_heading,
.tablet .contact_heading {
	position:absolute;
	top:0px;
	left:0px;	
	marigin:0;
	height:auto;
}
.mobile article.contact_top,
.tablet article.contact_top {
	width:100%;	
	margin-right:0px;
	margin-left:0px;
}
article.contact_bottom, div.contact_bottom {
	padding-bottom:40px;
	font-size:14px;
}
/*blog specific */



/********************************
******* MANUFACTURERS ***********
**********************************/
#manufacturers {
	padding-top:30px;	
}
.column {
	padding-top:20px;
}

/**********************************
********* APPLICATIONS ************
***********************************/

.application_block {
	width:49%;
	display:inline-block;
	box-sizing:border-box;
	padding:20px 40px;
	vertical-align: top;
}
.application_block p {
	font-size:14px;
}
.mobile .application_block,
.tablet .application_block {
	width:100%;	
}
.application_block img {
	width:100%;
	height:auto;
}
.application_block a img {
	border:none;
}
article.application {
	font-size:14px;	
}
article.application p.image {
	text-align:center;
}
.mobile article.application p.image img,
.tablet article.application p.image img {
	width:100%;
}

/**********************************
********* PRODUCTS ****************
***********************************/
article.products h6 {
	margin-top:20px;
}
article.products p {
	padding: 5px 0;
}
article.product p {
	padding:7px 0;
	text-align:center;
}
article.product > p > img {
	display:inline-block;
	float:left;
	padding:15px 15px 5px 0;
	max-width:100%;
}
article.contact_top.product h6 {
	width:100%;
	clear:both;
}
.productCaption {
	position:absolute;
	z-index:999999;
	background: #ffffcc;
	padding:5px 10px;
	border:1px solid #dddddd;
}

/************************************
************ MAILER *****************
*************************************/
.message p {
	padding:5px 0;
	color:#000;
	font-style:italic;
}
.error p {
	padding:5px 0;
	color:#900;
	font-style:italic;
}

/************************************
************ LINKS *******************
*************************************/
article.contact_top.links p {
	padding:5px 0;	
}
	
/***********************************
********** SITEMAP ******************
***************************************/
article.contact_top p.indent {
	padding-left:10px;
}
article.contact_top p.sub_indent {
	padding-left:30px;
}

/**************************************
********** SITE SEARCH *****************
****************************************/
#result_report {
	padding:0 0 20px 0;
}
.description {
	color:#777777;
}
.url {
	color:#777777;
	font-size:12px;
	padding:5px 0 0 0;
}
#results a:hover {
	color:#600;
}

/**************************************
********** REQUEST QUOTE BAR *****************
****************************************/
#quote_component {
	display:inline-block;
	position:fixed;
	bottom:0px;
	right:10px;
	height:28px;
	cursor:pointer;
	overflow:hidden;
	z-index:999;
}
#quote_arrow {
	border-top-left-radius: 5px;
	width:35px;
	float:left;
	background:#c63b23;
}
#quote_link {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #990000;
	min-width:180px;
	max-width:280px;
	line-height:28px;
	text-align:center;
}

#quote_link a, 
#quote_link a:link, 
#quote_link a:hover, 
#quote_link a:active,
#quote_link a:visited {
	text-decoration:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding-right: 50px;
	padding-left: 55px;
	display: block;
}
#quote_link a img,
#quote_link a:link img,
#quote_link a:visited img,
#quote_link a:hover img {
	border:none;
}
#quote_component:hover #quote_arrow {
	background: #d6492d;
}
#quote_component:hover #quote_link {
	background: #ab1e10;
}

/*****************************************
************ PRODUCT PAGE ***************
******************************************/
article.left.product .contact_heading {
	position:unset;	
}
article.right.product ul li a,
article.right.product ul li a:link, 
article.right.product ul li a:visited {
	color:#777777;	
}
article.right.product ul li a:hover {
	
}
.tablet article.left.product {
	width:60%;
}
.tablet article.right.product {
	width:40%;	
	padding-top:15px;
}
.tablet.col2_left article.right, 
.tablet.col2_left article.left {
	clear:none;
	box-sizing: border-box;
}
.tablet.col2_left article.left {
	float:left;	
	padding: 30px 0 10px 0;
}
.tablet.col2_left article.right {
	float:right;
	padding-left: 30px;
}
a.product_button {
	background: #c63b23;
	display:inline-block;
	text-align:center;
	padding:20px 30px;
	margin:0 auto;
}
a.product_button,
a.product_button:link, 
a.product_button:visited, 
a.product_button:hover, 
a.product_button:active {
	color:#fff;	
	text-decoration:none;
}
a.product_button:hover {
	background: #990000;
}
article.left.product p.image img {
	float:none;
}
p.end_col_text {
	font-size:15px;
}
p.end_col_text a {
	font-weight:bold;
}
.col2_left article.right ul li ul {
	padding:0;
	margin:0;
	line-height:normal;
}
.col2_left article.right ul li ul li {
	
}
article.right.product > ul.categories  {
	border-bottom:1px solid #999;
}
article.right.product > ul.categories > li > a,
article.right.product > ul.categories > li > p{
	color: #fff;
	font-weight:bold;
	padding:5px 8px;
	font-size: 14px;
	letter-spacing: normal;
	background: #888888;
	display:block;
	width:100%;
}
article.right.product > ul.categories > li > p {
    margin:0;
    text-align:left;
}
article.right.product > ul.categories > li > ul  {
	border:1px solid #999;
	border-top:none;
	border-bottom:none;
	padding:10px 20px 15px 20px;
}
article.right.product > ul.categories > li > ul > li > a {
		
}


article.right.product > ul.related_products > li.h3_heading > a {
	color: #fff;
	font-weight:bold;
	padding:5px 8px;
	font-size: 14px;
	letter-spacing: normal;
	background: #c63b23;
	display:block;
	width:100%;
}
article.right.product > ul.related_products > li.h3_heading > ul {
	border:1px solid #999;
	border-top:none;
	padding:10px 20px 15px 20px;
}

/*404 page*/
#errorpage {
	padding:50px 30px;
}
#errorpage h3 {
	font-size:38px;
	color:#c63b23;
	background:none;
	letter-spacing:normal;
	padding:20px 0;
}
#errorpage p {
	font-size:14px;
}
#errorpage a, #errorpage a:link, #errorpage a:visited {
	text-decoration:underline;
}

/******* Subcategory page*********/ 
.product_grid_block {
	display:inline-block;
	overflow:hidden;
	text-align:center;
	padding:10px;	
}
/*.standard .product_grid_block {
	width:29%;
}

.tablet .product_grid_block {
	width:45%;
}*/
.mobile .product_grid_block {
	width:100%;
}
.product_grid_block img {
	max-width:100%;
	float:none;
}
#product_grid .product_grid_block h2,
#product_grid .product_grid_block h3,
#product_grid .product_grid_block h4{
    border:none;
    margin:0;
    padding:0;
    background:none;
}
#product_grid .product_grid_block h4 {
  font-style:normal;   
}
.product_grid_block a,
.product_grid_block a:link,
.product_grid_block a:visited {
	color:#c63b23;
	font-weight:bold;
	font-size:16px;
	letter-spacing:normal;
	text-decoration:none;
}
.product_grid_block .product_info a,
.product_grid_block .product_info a:link,
.product_grid_block .product_info a:visited {
	color:#AA0000;
	font-size:12px;
	font-weight:normal;
	letter-spacing:normal;
	text-decoration:none;
}
.product_grid_block .product_info a:hover,
.product_grid_block .product_info a:active {
	text-decoration:underline;
}
.mobile .product_grid_block a,
.mobile .product_grid_block a:link,
.mobile .product_grid_block a:visited {
	font-size:14px;
}
.product_grid_block a:hover {
	color:#990000;	
	text-decoration:none;
}
.product_grid_block:hover a,
.product_grid_block:hover a:link,
.product_grid_block:hover a:visited {
	color:#990000;	
}
